[Unit]
Description=Vera Power Control Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/uss/Vera/scripts/power_control.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
